@media only screen and (min-width:480px) {

body {
    background: linear-gradient(to right,#101935, #171c2c);
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}

button {
    cursor: pointer;
}

#popup1, #popup2, #popup3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width:600px;
    box-shadow: 0 0 20px white;
    overflow: hidden;

}



img {
    height: 100%;
    width: 100%;
}

img:hover {
    transform: scale(1.5);
    transition:500ms ease-in-out;
}

}

@media only screen and (max-width:480px) {

    body {
        background: linear-gradient(to right,#101935, #171c2c);
        text-align: center;
        overflow: hidden;
        margin-top:20px;
    }
    
    button {
        cursor: pointer;
    }
    
    #popup1, #popup2, #popup3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width:90vw;
        box-shadow: 0 0 20px white;
        overflow: hidden;
    
    }
    
    
    
    img {
        height: 100%;
        width: 100%;
    }
    
    img:hover {
        transform: scale(1.5);
        transition:500ms ease-in-out;
    }
    
    }
